<div id="my-flight">
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h3>My Flights</h3>
        </div>
        <div class="card-block">
          <div class="card-title"></div>
          <div class="card-text">
            <div class="row" *ngIf="flightAvailable">
              <div class="col-xs-12 col-md-6">
                <div class="card">
                  <div class="card-header">
                    <h3>History and favorites</h3>
                  </div>
                  <div class="card-block">
                    <div class="card-title"></div>
                    <div class="card-text">
                      <h4>History</h4>
                      <ul>
                        <li>Last 1</li>
                        <li>Last 2</li>
                        <li>Last 3</li>
                      </ul>
                      <h4>Favorites</h4>
                      <ul>
                        <li>Favorite 1</li>
                        <li>Favorite 2</li>
                        <li>Favorite 3</li>
                      </ul>
                    </div>
                  </div>
                  <div class="card-footer"></div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="card">
                  <div class="card-header">
                    <h3>Flight information</h3>
                  </div>
                  <div class="card-block">
                    <div class="card-title"></div>
                    <div class="card-text">
                      <h2 class="flight-number">{{ currentFlight.flight }}</h2>
                      <div class="carrier">
                        <h3 class="carrier-name">{{ currentFlight.carrier }}</h3>
                        <div class="row rate-carrier">
                          <div class="col-xs-2 offset-xs-1">
                            <clr-icon shape="star"></clr-icon>
                          </div>
                          <div class="col-xs-2">
                            <clr-icon shape="star"></clr-icon>
                          </div>
                          <div class="col-xs-2">
                            <clr-icon shape="star"></clr-icon>
                          </div>
                          <div class="col-xs-2">
                            <clr-icon shape="star"></clr-icon>
                          </div>
                          <div class="col-xs-2">
                            <clr-icon shape="star"></clr-icon>
                          </div>
                        </div>
                      </div>
                      <p>
                        <strong>{{ (currentFlight.direction === 'arrivals') ? 'From' : 'To' }}:</strong> {{ currentFlight.location}}<br/>
                        <strong>{{ (currentFlight.direction === 'arrivals') ? 'Arrival' : 'Departure' }} time:</strong> {{ currentFlight.time | date: 'yyyy-MM-d hh:mm aaa'}}
                      </p>
                      <ul class="flight-actions">
                        <li>
                          <button class="btn btn-primary btn-icon">
                            Add to favorites
                            <clr-icon shape="star" class="is-solid"></clr-icon>
                          </button>
                        </li>
                        <li>
                          <button class="btn btn-primary btn-icon">
                            Set alarm
                            <clr-icon shape="alarm-clock"></clr-icon>
                          </button>
                        </li>
                        <li *ngIf="currentFlight.direction === 'departures'">
                          <button class="btn btn-primary btn-icon">
                            Check-in
                            <clr-icon shape="check"></clr-icon>
                          </button>
                        </li>
                        <li *ngIf="currentFlight.direction === 'departures'">
                          <button class="btn btn-primary btn-icon">
                            View flight policies
                            <clr-icon shape="airplane"></clr-icon>
                          </button>
                        </li>
                        <li *ngIf="currentFlight.direction === 'departures'">
                          <button class="btn btn-primary btn-icon">
                            View weather
                            <clr-icon shape="sun"></clr-icon>
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="card-footer"></div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="!flightAvailable">
              <div class="col-xs-12">
                <div class="card">
                  <div class="card-header">
                    <h3>Hi there!</h3>
                  </div>
                  <div class="card-block">
                    <div class="card-title"></div>
                    <div class="card-text">
                      <p>We have noticed that you have not selected any flight yet, although you can still benefit from this page,
                        we strongly recommend you to go back to the flights list and choose a flight so you can enjoy the full experience.
                      </p>
                    </div>
                  </div>
                  <div class="card-footer">
                    <a class="nav-link" routerLink="/app">
                      <button type="button" class="btn btn-primary">Flights List</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <p><strong>Need further assistance?</strong> Contact <a>airport general information services</a>. Talk with your <a>airline customer service.</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="card">
            <div class="card-header">
              <h3>Where to go?</h3>
            </div>
            <div class="card-block">
              <div class="card-title"></div>
              <div class="card-text">
                <ul>
                  <li>Restaurants</li>
                  <li>Bars</li>
                  <li>Souvenirs</li>
                </ul>
              </div>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="card">
            <div class="card-header">
              <h3>What to do?</h3>
            </div>
            <div class="card-block">
              <div class="card-title"></div>
              <div class="card-text">
                <ul>
                  <li>Read a book!</li>
                  <li>Watch a movie!</li>
                  <li>Listen some music!</li>
                  <li>Learn about local culture!</li>
                </ul>
              </div>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="card">
            <div class="card-header">
              <h3>Airport services</h3>
            </div>
            <div class="card-block">
              <div class="card-title"></div>
              <div class="card-text">
                <ul>
                  <li>Internet</li>
                  <li>Toilets</li>
                  <li>Waiting Room</li>
                </ul>
              </div>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
