<div id="my-flight">
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h3>My Flight</h3>
        </div>
        <div class="card-block">
          <div class="card-title"></div>
          <div class="card-text">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="card">
                  <div class="card-header">
                    <h3>Before my flight</h3>
                  </div>
                  <div class="card-block">
                    <div class="card-title"></div>
                    <div class="card-text">
                      <ul>
                        <li>Time to board</li>
                        <li>Time to check-in</li>
                        <li>Allowed baggage</li>
                      </ul>
                    </div>
                  </div>
                  <div class="card-footer"></div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="card">
                  <div class="card-header">
                    <h3>Flight information</h3>
                  </div>
                  <div class="card-block">
                    <div class="card-title"></div>
                    <div class="card-text">
                      <ul>
                        <li>Seat number</li>
                        <li>Estimated travel duration</li>
                        <li>Flight number</li>
                        <li>Destination weather</li>
                      </ul>
                    </div>
                  </div>
                  <div class="card-footer"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <p><strong>Need further assistance?</strong> Talk with airport employees. Talk with your airline customer service.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="card">
            <div class="card-header">
              <h3>Where to go?</h3>
            </div>
            <div class="card-block">
              <div class="card-title"></div>
              <div class="card-text">
                <ul>
                  <li>Restaurants</li>
                  <li>Bars</li>
                  <li>Souvenirs</li>
                </ul>
              </div>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="card">
            <div class="card-header">
              <h3>What to do?</h3>
            </div>
            <div class="card-block">
              <div class="card-title"></div>
              <div class="card-text">
                <ul>
                  <li>Read a book!</li>
                  <li>Watch a movie!</li>
                  <li>Listen some music!</li>
                  <li>Learn about local culture!</li>
                </ul>
              </div>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="card">
            <div class="card-header">
              <h3>Airport services</h3>
            </div>
            <div class="card-block">
              <div class="card-title"></div>
              <div class="card-text">
                <ul>
                  <li>Internet</li>
                  <li>Toilets</li>
                  <li>Waiting Room</li>
                </ul>
              </div>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
