<div class="main-container">
  <div class="alert alert-app-level">

  </div>
  <div class="header header-3" *ngIf="showHeader">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="airplane"></clr-icon>Super Duper Awesome Airport Panel
      </a>
    </div>
    <div class="header-nav">
      <a class="nav-link" routerLink="/signup" *ngIf="!isAuth">
        <span class="nav-text">Sign Up</span>
      </a>
      <a class="nav-link" routerLink="/login" *ngIf="!isAuth">
        <span class="nav-text">Log In</span>
      </a>
      <a class="nav-link" routerLink="/app">
        <span class="nav-text">View Flights</span>
      </a>
      <a class="nav-link" routerLink="/my" *ngIf="isAuth">
        <span class="nav-text">My Flights</span>
      </a>
    </div>
    <div class="header-actions">
      <a class="nav-link" (click)="onLogout()" *ngIf="isAuth">
        <span class="nav-text">Logout</span>
      </a>
    </div>
  </div>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
