<div class="flights-list">
  <clr-datagrid>
    <clr-dg-column>#</clr-dg-column>
    <clr-dg-column [clrDgField]="'location'">Destination</clr-dg-column>
    <clr-dg-column [clrDgField]="'carrier'">Carrier</clr-dg-column>
    <clr-dg-column [clrDgField]="'flight'">Flight</clr-dg-column>
    <clr-dg-column [clrDgField]="'time'">Time</clr-dg-column>
    <clr-dg-column [clrDgField]="'gate'">Gate</clr-dg-column>
    <clr-dg-column [clrDgField]="'status'">Status</clr-dg-column>

    <clr-dg-row
      *clrDgItems="let flight of source; index as i; even as even"
      [ngClass]="{ 'datagrid-row-even': even, 'datagrid-row-odd': !even, 'datagrid-row-interactive': rowClickHandler}"
      (click)="onClick(flight)">
      <clr-dg-cell>{{ i + 1 }}</clr-dg-cell>
      <clr-dg-cell>{{ flight.location }}</clr-dg-cell>
      <clr-dg-cell>{{ flight.carrier }}</clr-dg-cell>
      <clr-dg-cell>{{ flight.flight }}</clr-dg-cell>
      <clr-dg-cell>{{ flight.time | date: 'hh:mm aaa'}}</clr-dg-cell>
      <clr-dg-cell>{{ flight.gate }}</clr-dg-cell>
      <clr-dg-cell><app-label status="{{ flight.status }}"></app-label></clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer *ngIf="paginated">
      <clr-dg-pagination #pagination [clrDgPageSize]="13">
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} fligths
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>
