<div class="flights-list">
  <clr-datagrid>
    <clr-dg-column>#</clr-dg-column>
    <clr-dg-column>Destination</clr-dg-column>
    <clr-dg-column>Carrier</clr-dg-column>
    <clr-dg-column>Flight</clr-dg-column>
    <clr-dg-column>Time</clr-dg-column>
    <clr-dg-column>Gate</clr-dg-column>
    <clr-dg-column>Status</clr-dg-column>

    <clr-dg-row *ngFor="let flight of source; index as i; even as even" [ngClass]="{ 'datagrid-row-even': even, 'datagrid-row-odd': !even }">
      <clr-dg-cell>{{ i + 1 }}</clr-dg-cell>
      <clr-dg-cell>{{ flight.location }}</clr-dg-cell>
      <clr-dg-cell>{{ flight.carrier }}</clr-dg-cell>
      <clr-dg-cell>{{ flight.flight }}</clr-dg-cell>
      <clr-dg-cell>{{ flight.time | date: 'hh:mm aaa'}}</clr-dg-cell>
      <clr-dg-cell>{{ flight.gate }}</clr-dg-cell>
      <clr-dg-cell><app-label status="{{ flight.status }}"></app-label></clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
</div>
